.headerContainer{
    width: 100vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pokeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
}